node_modules
dist
.expo
.expo-shared
.turbo
.DS_Store
coverage
.env*
!.env.example
api/generated
api/.env*
!api/.env.example
mobile/.env*
!mobile/.env.example
mobile/.expo
api/prisma/dev.db
api/prisma/dev.db-journal
*.tsbuildinfo
clerk-expo
*firebase*.json
