node_modules
dist
.expo
.expo-shared
.turbo
.DS_Store
coverage
.env
.env.local
.env.preview
.env.production
api/generated
api/.env
mobile/.env
mobile/.expo
api/prisma/dev.db
api/prisma/dev.db-journal
*.tsbuildinfo
